:root {
  --content-width: 66%;
  --left-padding: 2.5rem;
  --gray: gray;
}

@media print {
  @page {
    margin: 1.6cm 1cm;
  }

  .entry {
    page-break-inside: avoid;
  }

  h1, h2, h3, hr {
    page-break-after: avoid;
  }

  /* gray does not seem to show up well */
  :root {
    --gray: lightgray;
  }
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
}

h1, h2,  h3, h4 {
  color: purple;
}

main {
  width: var(--content-width);
}

header, section {
  padding-left: var(--left-padding);
}

/* HEADER */
header {
  margin-bottom: 3rem;
}

.name {
  margin: .5rem 0 0 0;
}

.description {
  color: var(--gray);
  font-size: 0.9rem;
  line-height: 1.3rem;
}


/* MAIN CONTENT */
section h2 {
  margin-bottom: 0.8rem;
}

.entry {
  margin-bottom: 2.5rem;
}

.entry-title-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0;
}

.entry-title-container .title {
  color: black;
  margin: 0.5rem 0 0 0;
  flex: 1 1 66%;
}

.entry-title-container .place {
  margin: 0.5rem 0 0 2rem;
  flex: 1 1 50%;
  color: purple;
}

.entry .dates {
  font-size: 0.9rem;
  margin: .25rem 0 0.75rem 0;
  color: var(--gray);
}

.list-subtitle {
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}

.entry ul {
  margin: 0 0 1.25rem 0;
  font-size: 0.9rem;
  list-style-type: circle;
}


/* SIDE NAV */
aside {
  padding-left: 2rem;
}

aside h4 {
  margin-bottom: 1rem;
}

aside ul {
  margin: 0;
  padding-left: 0;
}

.technologies ul {
  list-style-type: none;
  line-height: 1.5rem;
}

.technologies li {
  color: var(--gray);
}

.contacts {
  margin-bottom: 2rem;
}

.contacts ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-right: 2rem;
  list-style: none;
}

.contacts a {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: .5rem;

  text-decoration: none;
  color: var(--gray);
}

.contacts img {
  margin-right: .5rem;
  width: 1rem;
  height: 1rem;
}
