<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Yoel Resume</title>
    <link rel="stylesheet" href="resume.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <header class="header">
        <div class="bio">
          <h1 class="name"></h1>
          <hr />
          <p class="description"></p>
        </div>
      </header>
      <section>
        <h2>Work Experience</h3>
        <hr />
        <div class="work-experience">
          <div>
            <span class="entry-title-container">
              <h3 class="job-title">_title</h3>
              <h4 class="org">
                _org
              </h4>
            </span>
            <p class="dates">_dates</p>
            <ul class="bullets">
              <li></li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <h2>Education</h3>
        <hr />
        <div class="education">
          <div>
            <span class="entry-title-container">
              <h3 class="degree">_degree</h3>
              <h4 class="institution">_institution</h4>
            </span>
            <p class="year">_year</p>
            <ul class="bullets">
              <li></li>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <aside>
      <div class="contacts">
        <h4>Contact</h4>
        <ul class="contact-links">
          <li>
            <a href="_href" class="contact-link">
              <img alt="_type" src="_icon" class="contact-logo">
              _content
            </a>
          </li>
        </ul>
      </div>
      <div class="technologies">
        <h4>Technologies</h4>
        <ul class="technologies-used">
          <li></li>
        </ul>
      </div>
    </aside>
  </body>
</html>
