<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Yoel Resume</title>
    <link rel="stylesheet" href="resume.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <header>
        <h1 class="name">_name</h1>
        <hr />
        <p class="description">_description</p>
        <div class="bio-content">
          <div class="contacts">
            <h4>Contact</h4>
            <ul>
              <li data-template="contacts">
                <a href="_href">
                  <img alt="_type" src="_icon">
                  _content
                </a>
              </li>
            </ul>
          </div>
          <div class="technologies">
            <h4>Technologies</h4>
            <ul>
              <li data-template="technologies"></li>
            </ul>
          </div>
        </div>
      </header>
      <section>
        <h2>Work Experience</h2>
        <hr />
        <div class="entry" data-template="work-experience">
          <div class="entry-title-container">
            <h3 class="title">_title</h3>
            <h4 class="place">_org</h4>
          </div>
          <p class="dates">_dates</p>
          <p data-if="responsibilities" class="list-subtitle">
            <strong>Responsibilities</strong>
          </p>
          <ul data-if="responsibilities">
            <li data-template="responsibilities"></li>
          </ul>
          <p data-if="key-results" class="list-subtitle">
            <strong>Key Results</strong>
          </p>
          <ul data-if="key-results">
            <li data-template="key-results"></li>
          </ul>
        </div>
      </section>
      <section>
        <h2>Education</h2>
        <hr />
        <div class="entry" data-template="education">
          <div data-container="education">
            <div class="entry-title-container">
              <h3 class="title">_degree</h3>
              <h4 class="place">_institution</h4>
            </div>
            <p class="dates">_year</p>
            <ul data-if="notes">
              <li data-template="notes"></li>
            </ul>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
